

@{
    ViewBag.Title = "Index";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
        <h1>Bienvenido al Hotel Santa Maria</h1>
        <h2>Ven y Disfruta de tu Instancia con Nosotros</h2>
        <a href="~/Reservaciones/Index" class="btn-get-started scrollto">Realiza una Reserva</a>
    </div>
</section><!-- End Hero -->

<main id="main">
  
</main><!-- End #main -->