@{
    ViewBag.Title = "Habitacion Doble Detalles Especial";
}

<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol>
                <li><a href="/Habitaciones/Index">Habitaciones</a></li>
                <li>Detalles de la Habitacion</li>
            </ol>
            <h2>Detalles de la Habitacion Doble Especial</h2>

        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Source/img/portfolio/doble-02.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Source/img/portfolio/detalle-bano-tina.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Source/img/portfolio/detalle-wifi.jpg" alt="">
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Source/img/portfolio/detalle-tv-cable.jpg" alt="">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Caracteristicas</h3>
                        <ul>
                            <li><strong>Camas</strong>:  1 ½ plz + 1 ½ plz</li>
                            <li><strong>Ocupacion</strong>: 2 Personas</li>
                            <li><strong>Desayuno</strong>: No incluido</li>
                            <li><strong>Internet</strong>: Wi-fi Gratis</li>
                            <li><strong>Television</strong>: Tv con Cable</li>
                            <li><strong>Precio</strong>: Desde S/.70.00 por noche</li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Descripción de la habitación</h2>
                        <p>2 Camas de 1 plazas y media, Wi-fi, Baño Privado con tina y agua caliente, Tv con cable con mas de 80 canales.</p>
                        <p>*Tarifas incluido IGV</p>
                        <p>*Extranjeros exonerados de impuestos presentando el tiket migratorio y documentos de Identificacion</p>
                        <p>*Imágenes referenciales</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
