
@{
    ViewBag.Title = "Ofertas";
}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container">

        <div class="section-title">
            <span>Ofertas</span>
            <h2>Ofertas</h2>
            <p>Dese un gusto con uno de nuestros atractivos paquetes. Es el mejor momento para disfrutar una experiencia única con Hotel Santa Maria</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>10% descuento solo en nuestra web</h3>
                    <img src="~/Source/img/portfolio/matrimonial-01.jpg" alt="" width="300" height="300">
                    <h4><sup>%</sup>10<span> / descuento</span></h4>
                    <ul>
                        <li>1 noche en Hotel </li>
                        <li>Desayuno Buffet</li>
                        <li>Tv Satelital</li>
                        <li>Wi-fi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="https://api.whatsapp.com/send?phone=51946792458&text=PLAN 10% descuento solo en nuestro hotel desde : S/.80.00" target="_blank" class="btn-buy">Whatsapp Ahora</a><br />
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="zoom-in">
                <div class="box featured">
                    <h3>Habitación + Tour por los Petroglifos de Miculla</h3>
                    <img src="~/Source/img/portfolio/oferta-02.jpg" alt="" width="300" height="300">
                    <h4><sup>%</sup>20<span> / descuento</span></h4>
                    <ul>
                        <li>1 noche en Hotel </li>
                        <li>Desayuno Buffet en el Hotel</li>
                        <li>Almuerzo Buffet Tradiciones Peruanas</li>
                        <li>Entradas a los Petroglifos de Miculla</li>
                        <li>Transporte ida y vuelta</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="https://api.whatsapp.com/send?phone=51946792458&text=PLAN 20% descuento solo en nuestro hotel desde : S/.150.00" target="_blank" class="btn-buy">Whatsapp Ahora</a><br />
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                <div class="box">
                    <h3>Estadia Minima 3 Noches</h3>
                    <img src="~/Source/img/portfolio/oferta-03.jpg" alt="" width="300" height="300">
                    <h4><sup>%</sup>15<span> / descuento</span></h4>
                    <ul>
                        <li>3 dias en Hotel </li>
                        <li>Desayuno Buffet en el Hotel</li>
                        <li>Almuerzo Buffet Tradiciones Peruanas</li>
                        <li>Tv Satelital</li>
                        <li>Wi-fi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="https://api.whatsapp.com/send?phone=51946792458&text=PLAN 15% descuento solo en nuestro hotel desde : S/.300.00" target="_blank" class="btn-buy">Whatsapp Ahora</a><br />
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Pricing Section -->