
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hotel Santa Maria</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Source/img/favicon.png" rel="icon">
    <link href="~/Source/img/apple-touch-icon.png" rel="apple-touch-icon">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">


    <!-- Vendor CSS Files -->
    <link href="~/Source/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/Source/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Source/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Source/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Source/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Source/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Scripts/bootstrap-dtpicker.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-dtpicker.min.js"></script>
    <link href="~/Source/social/main.css" rel="stylesheet" />
    <link href="~/Source/social/font.css" rel="stylesheet" />

    <!-- Libreria culqi -->
    <script src="https://checkout.culqi.com/v2"></script>

    <!-- Template Main CSS File -->
    <link href="~/Source/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Day - v4.0.1
    * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
        <div class="container d-flex justify-content-center justify-content-md-between">
            <div class="contact-info d-flex align-items-center">
                <i class="bi bi-envelope-fill"></i><a href="mailto:santamariatacna@gmail.com">santamariatacna@gmail.com</a>
                <i class="bi bi-telephone-fill phone-icon"></i> +051-52-247702
                <i class="bi bi-phone-fill phone-icon"></i> +051 946792458

            </div>
            <div class="social-links d-none d-md-block">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="~/Home/Index">Hotel Santa Maria</a></h1>


            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="~/Home/Index">Inicio</a></li>
                    <li><a class="nav-link scrollto" href="~/Nosotros/Index">Nosotros</a></li>
                    <li><a class="nav-link scrollto" href="~/Servicios/Index">Servicios</a></li>
                    <li><a class="nav-link scrollto " href="~/Habitaciones/Index">Habitaciones</a></li>
                    <li><a class="nav-link scrollto" href="~/Ofertas/Index">Ofertas</a></li>
                    <li><a class="nav-link scrollto" href="~/Reservaciones/Index">Reservaciones</a></li>

                    <li><a class="nav-link scrollto" href="~/Contacto/Index">Contacto</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    @RenderBody()
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>Hotel Santa Maria</h3>
                            <img src="~/Source/img/logo.png" alt="50" class="img-fluid" width="250" height="300">
                            <p>
                                Av. Augusto B Leguia 437<br>
                                Tacna<br><br>
                                <strong>Telefono | Celular: </strong>+051-52-247702 | +051 946792458<br>
                                <strong>Email: </strong>santamariatacna@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Hotel Santa Maria</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Inicio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Nosotros</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contacto</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Nuestros Servicios</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Servicios</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Habitaciones</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Ofertas</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Reservaciones</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Nuestro boletín</h4>
                        <p>
                            Quédese con nosotros si usted busca: Hoteles en Tacna, Hostales en Tacna, Hotel en Tacna, Hostal en Tacna,
                            Alojamiento en Tacna, Hospedaje en Tacna, Residenciales en Tacna.
                        </p>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Derechos de autor <strong><span>Hotel Santa Maria</span></strong>. Reservados todos los derechos
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/day-multipurpose-html-template-for-free/ -->
                Diseñada por <a href="https://www.facebook.com/Hotel-santa-maria-tacna-264403450695489">Hotel Santa Maria</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>
    <div class="social-bar">
        <a href="https://www.facebook.com/Hotel-santa-maria-tacna-264403450695489" class="icon icon-facebook" target="_blank"></a>
        <a href="#" class="icon icon-twitter" target="_blank"></a>
        <a href="https://www.youtube.com/watch?v=15TvzjvExLc" class="icon icon-youtube" target="_blank"></a>
        <a href="#" class="icon icon-instagram" target="_blank"></a>
    </div>
    <!-- Vendor JS Files -->
    <script src="~/Source/vendor/aos/aos.js"></script>
    <script src="~/Source/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Source/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Source/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Source/vendor/php-email-form/validate.js"></script>
    <script src="~/Source/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Source/js/main.js"></script>


    <!-- Código de instalación Cliengo para www.hotelsantamaria.somee.com/ -->
    <script type="text/javascript">(function () { var ldk = document.createElement('script'); ldk.type = 'text/javascript'; ldk.async = true; ldk.src = 'https://s.cliengo.com/weboptimizer/6045400781b8bc002a4fc008/60457152544faa002aa34b21.js?platform=onboarding_modular'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ldk, s); })();</script>


</body>
</html>
