
@{
    ViewBag.Title = "Nosotros";
}

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                <img src="~/Source/img/nosotros.jpg" class="img-fluid" alt="" width="700" height="500">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                <h3>Nosotros</h3>
                <p class="font-italic" style="text-align: justify">
                    Estamos ubicados en la Av. Augusto B Leguia 437, Tacna; 
                    enfocados en proporcionar a nuestros huéspedes una experiencia de viaje
                    única, nos centramos desde la arquitectura, decoración, desayuno.
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> El Hotel Santa María goza de una ubicación ideal en Tacna, a solo 500 metros de la plaza principal de la ciudad.</li>
                    <li><i class="bi bi-check-circle"></i> Ofrece conexión WiFi gratuita</li>
                    <li><i class="bi bi-check-circle"></i> Ofrece una cochera privada</li>
                </ul>
                <p  style="text-align: justify">
                    Usted y su familia gozaran de ambientes soleados, luminosos y tranquilos a la hora del reposo con amplias ventanas al
                    exterior que otorgan a toda hora una vista sin igual de la avenida principal e històrica de la ciudad. La idea del Hotel Santa Maria
                    surge de la necesidad de los visitantes a la ciudad de Tacna de llegar a un lugar cómodo, con toda la familia, 
                    donde gozara de un buen servicio, calidez y privacidad que lo harán sentirse como en casa. Hotel Santa Maria. 
                    La Satisfaccion de Sentirte en Casa.
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" data-aos="fade-up">
                <div class="box">
                    <span>01</span>
                    <h4>¿Quienes Somos?</h4>
                    <p style="text-align: justify"> Estamos a solo metros del centro de la ciudad, 
                    pensando en calidad y comodidad, cuenta con finos acabados, habitaciones amplias; 
                    contamos con personal capacitado en atención al cliente.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
                <div class="box" >
                    <span>02</span>
                    <h4>Nuestra Misión</h4>
                    <p style="text-align: justify">Proveer a los pasajeros una atención correcta, brindando calidad y respeto, sin dejar de lado la amabilidad y cordialidad, 
                    el cual los hará sentir que se encuentran entre personas conocidas</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <span>03</span>
                    <h4>Nuestra Visión</h4>
                    <p style="text-align: justify">Ser identificado como uno de los mejores hoteles por la calidad de los servicios brindados en su estadía, 
                    por el cual los pasajeros deseen regresar a nuestra ciudad.</p>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Why Us Section -->
<!-- ======= Clients Section ======= -->
@*<section id="clients" class="clients">
    <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

            <div class="col-lg-2 col-md-4 col-6">
                <img src="~/Source/img/clients/client-1.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="~/Source/img/clients/client-2.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="~/Source/img/clients/client-3.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="~/Source/img/clients/client-4.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="~/Source/img/clients/client-5.png" class="img-fluid" alt="">
            </div>

            <div class="col-lg-2 col-md-4 col-6">
                <img src="~/Source/img/clients/client-6.png" class="img-fluid" alt="">
            </div>

        </div>

    </div>
</section> End Clients Section*@ 